## TOPIC: String Based Assignment Problem

1. Write a program to reverse a string.

In [4]:
a="MOHit"
a[::-1]

'tiHOM'

2. Check if a string is a palindrome.

In [7]:
a="nayan"
True if a==a[::-1] else False

True

3. Convert a string to uppercase.

In [8]:
a.upper()

'NAYAN'

4. Convert a string to lowercase.

In [9]:
a.lower()

'nayan'

5. Count the number of vowels in a string.

In [15]:
a = "aeiousddf"
count = sum(1 for i in a if i.lower() in "aeiou")
count

5

6. Count the number of consonants in a string.

In [16]:
consonants = "bcdfghjklmnpqrstvwxyz"
a = "aeiousddf"
count = 0
count = sum(1 for i in a if i.lower() in consonants)
count

4

7. Remove all whitespaces from a string.

In [18]:
a="ab asd vs s c"
a.replace(" ","")

'abasdvssc'

8. Find the length of a string without using the `len()` function.

In [19]:
sum([1 for x in a])

13

9. Check if a string contains a specific word.

In [20]:
"a" in a

True

10. Replace a word in a string with another word.

In [21]:
a.replace("a","z")

'zb zsd vs s c'

11. Count the occurrences of a word in a string.

In [22]:
a.count("a")

2

12. Find the first occurrence of a word in a string.

In [23]:
a.find("a")

0

13. Find the last occurrence of a word in a string.

In [25]:
a.rfind("a")

3

14. Split a string into a list of words.

In [26]:
list(a)

['a', 'b', ' ', 'a', 's', 'd', ' ', 'v', 's', ' ', 's', ' ', 'c']

15. Join a list of words into a string.

In [29]:
"".join(list(a))

'ab asd vs s c'

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [31]:
a="sdfa sdf sdf"
a.replace(" ","_")

'sdfa_sdf_sdf'

17. Check if a string starts with a specific word or phrase.

In [32]:
a.startswith("sdfa")

True

18. Check if a string ends with a specific word or phrase.

In [33]:
a.endswith("sdf")

True

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [34]:
a.title()

'Sdfa Sdf Sdf'

20. Find the longest word in a string.

In [40]:
a.split()
len(max(a.split(),key=len))

4

21. Find the shortest word in a string.

In [41]:
len(min(a.split(),key=len))

3

22. Reverse the order of words in a string.

In [42]:
a[::-1]

'fds fds afds'

23. Check if a string is alphanumeric.

In [43]:
a.isalnum()

False

24. Extract all digits from a string.

In [47]:
[x for x in a if x.isnumeric()]

[]

25. Extract all alphabets from a string.

In [48]:
[x for x in a if x.isalpha()]

['s', 'd', 'f', 'a', 's', 'd', 'f', 's', 'd', 'f']

26. Count the number of uppercase letters in a string.

In [51]:
sum([1 for x in a if x.isupper()])

0

27. Count the number of lowercase letters in a string.

In [52]:
sum([1 for x in a if x.islower()])

10

28. Swap the case of each character in a string.

In [53]:
[x.upper() if x.islower() else x.lower() for x in a ]

['S', 'D', 'F', 'A', ' ', 'S', 'D', 'F', ' ', 'S', 'D', 'F']

29. Remove a specific word from a string.

In [56]:
a.replace("a","")

'sdf sdf sdf'

30. Check if a string is a valid email address.

In [65]:
import re
email="mohit@gmail.com"

pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'
if re.match(pattern, email):
    print(True)
else:
    print(False)

True

31. Extract the username from an email address string.

In [68]:
email.split("@")[0]

'mohit'

32. Extract the domain name from an email address string.

In [69]:
email.split("@")[-1]

'gmail.com'

33. Replace multiple spaces in a string with a single space.

In [80]:
count=0
newstr=""
a="asdf  asdf    fadsf adf"
for i in a:
    if i==" " and count==0:
        count+=1
        newstr+=i
    elif i!=" ":
        count=0
        newstr+=i
        
newstr

'asdf asdf fadsf adf'

34. Check if a string is a valid URL.

In [83]:
import re 
url="https://mango-dentist-zuffw.pwskills.app/lab/tree/work/20th_August_Python_Basics.ipynb"
pattern = r'^(https?|ftp)://[^\s/$.?#].[^\s]*$'
if re.match(pattern, url):
    print(True)
else:
    print(False)

True

35. Extract the protocol (http or https) from a URL string.

In [85]:
url.split(":")[0]

'https'

36. Find the frequency of each character in a string.

In [86]:
url.count("a")

4

37. Remove all punctuation from a string.

In [90]:
import string
n="aafad: A;?fadf..//"
"".join([x for x in n if x not in string.punctuation ])

'aafad Afadf'

38. Check if a string contains only digits.

In [91]:
n.isnumeric()

False

39. Check if a string contains only alphabets.

In [92]:
n.isalpha()

False

40. Convert a string to a list of characters.

In [93]:
list(n)

['a',
 'a',
 'f',
 'a',
 'd',
 ':',
 ' ',
 'A',
 ';',
 '?',
 'f',
 'a',
 'd',
 'f',
 '.',
 '.',
 '/',
 '/']

41. Check if two strings are anagrams.

In [99]:
a="boot "
b="toob "
sorted(a)==sorted(b)

True

42. Encode a string using a Caesar cipher.

In [102]:
encrypted_text = ""
shift=3
text="hi mohit !"
for char in text:
    if char.isalpha():
        is_upper = char.isupper()
        char = char.lower()
        shifted_char = chr(((ord(char) - ord('a') + shift) % 26) + ord('a'))
        if is_upper:
            shifted_char = shifted_char.upper()
        encrypted_text += shifted_char
    else:
        encrypted_text += char
encrypted_text

'kl prklw !'

43. Decode a Caesar cipher encoded string.

In [103]:
decrypted_text = ""
shift=3
for char in encrypted_text:
    if char.isalpha():
        is_upper = char.isupper()
        char = char.lower()
        shifted_char = chr(((ord(char) - ord('a') - shift) % 26) + ord('a'))
        if is_upper:
            shifted_char = shifted_char.upper()
        decrypted_text += shifted_char
    else:
        decrypted_text += char
decrypted_text

'hi mohit !'

44. Find the most frequent word in a string.

In [14]:
s="rqerqrt,qrterwywrey,yyyyyyyyy"

In [9]:
di.get("h",0)

0

In [12]:
di={}
for i in s:
    di[i]=di.get(i,0)+1

In [16]:
max(di)

'y'

In [15]:
max(s,key=lambda x:s.count(x))

'y'

45. Find all unique words in a string.

In [17]:
set(s)

{',', 'e', 'q', 'r', 't', 'w', 'y'}

46. Count the number of syllables in a string.

47. Check if a string contains any special characters.

In [22]:
from string import punctuation

any([True if x in s else False for x in punctuation ])

True

48. Remove the nth word from a string.

In [26]:
n=10
s[:n-1]+s[n:]

'rqerqrt,qterwywrey,yyyyyyyyy'

49. Insert a word at the nth position in a string.

In [27]:
n=10
s[:n-1]+"x"+s[n:]

'rqerqrt,qxterwywrey,yyyyyyyyy'

50. Convert a CSV string to a list of lists.

In [28]:
a="adsf,asdf,adf,sdf"
a.split(",")

['adsf', 'asdf', 'adf', 'sdf']

### List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [37]:
s=list(range(1,11))
s

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [34]:
a=range(10)
le=0
for i in a:
    le+=1
le

10

3. Append an element to the end of a list.

In [39]:
s.append(11)
s

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 11]

4. Insert an element at a specific index in a list.

In [40]:
s.insert(0,99)
s

[99, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 11]

5. Remove an element from a list by its value.

In [42]:
s.remove(11)
s

[99, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

6. Remove an element from a list by its index.

In [43]:
s.pop(4)

4

7. Check if an element exists in a list.

In [44]:
99 in s

True

8. Find the index of the first occurrence of an element in a list.

In [47]:
s.index(99)

0

9. Count the occurrences of an element in a list.

In [49]:
s.count(99)

1

10. Reverse the order of elements in a list.

In [50]:
s[::-1]

[10, 9, 8, 7, 6, 5, 3, 2, 1, 99]

11. Sort a list in ascending order.

In [52]:
s.sort()
s

[1, 2, 3, 5, 6, 7, 8, 9, 10, 99]

12. Sort a list in descending order.

In [53]:
s.sort(reverse=True)
s

[99, 10, 9, 8, 7, 6, 5, 3, 2, 1]

13. Create a list of even numbers from 1 to 20.

In [54]:
list(range(1,21))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

14. Create a list of odd numbers from 1 to 20.

In [55]:
[x for x in list(range(1,21)) if x%2!=0 ]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [56]:
sum(s)

150

16. Find the maximum value in a list.

In [57]:
max(s)

99

17. Find the minimum value in a list.

In [59]:
min(s)

1

18. Create a list of squares of numbers from 1 to 10.

In [61]:
[x**2 for x  in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [73]:
from random import randint

In [75]:
[randint(0,x) for x in range(100,150,4)]

[40, 81, 84, 11, 22, 61, 76, 20, 37, 16, 108, 105, 98]

20. Remove duplicates from a list.

In [4]:
l1=[x for x in range(100,150,4)]
set(l1)

{100, 104, 108, 112, 116, 120, 124, 128, 132, 136, 140, 144, 148}

21. Find the common elements between two lists.

In [7]:
l2=[x for x in range(120,150,4)]
[x for x in l1 if x in l2]

[120, 124, 128, 132, 136, 140, 144, 148]

22. Find the difference between two lists.

In [8]:
[x for x in l1 if x not in l2]

[100, 104, 108, 112, 116]

23. Merge two lists.

In [9]:
l1+l2

[100,
 104,
 108,
 112,
 116,
 120,
 124,
 128,
 132,
 136,
 140,
 144,
 148,
 120,
 124,
 128,
 132,
 136,
 140,
 144,
 148]

24. Multiply all elements in a list by 2.

In [10]:
[x*2 for x in l1]

[200, 208, 216, 224, 232, 240, 248, 256, 264, 272, 280, 288, 296]

25. Filter out all even numbers from a list.

In [11]:
[x for x in l1 if x%2==0]

[100, 104, 108, 112, 116, 120, 124, 128, 132, 136, 140, 144, 148]

26. Convert a list of strings to a list of integers.

In [13]:
[int(x) for x in list("12345566")]

[1, 2, 3, 4, 5, 5, 6, 6]

27. Convert a list of integers to a list of strings.

In [14]:
[str(x) for x in [int(x) for x in list("12345566")]]

['1', '2', '3', '4', '5', '5', '6', '6']

28. Flatten a nested list.

In [20]:
def flatten(li):
    new_li=[]
    for l in li:
        if isinstance(l,list):
            new_li+=flatten(l)
            return new_li
        else :
            new_li.append(l)
    return new_li

In [22]:
flatten([1,2,3,3,[1,2,3,[77,77,88]]])

[1, 2, 3, 3, 1, 2, 3, 77, 77, 88]

29. Create a list of the first 10 Fibonacci numbers.

In [37]:
def fibonacci(num):

    if num==2:
        return [0,1]
    else :
        my_list=fibonacci(num-1)
        my_list.append(my_list[-2]+my_list[-1])
        return my_list

In [38]:
fibonacci(9)

[0, 1, 1, 2, 3, 5, 8, 13, 21]

30. Check if a list is sorted.

In [44]:
n=len(l1)
for i in range(n):
    if i==n-1:
        pass
    elif l1[i]>l1[i+1]:
        print(False)
    else :
        print(True)

True
True
True
True
True
True
True
True
True
True
True
True

31. Rotate a list to the left by `n` positions.

In [46]:
n=5

[132, 136, 140, 144, 148]

In [51]:
l1

[104, 108, 112, 116, 120, 124, 128, 132, 136, 140, 144, 148]

In [52]:
for i in range(5):
    l1.append(l1.pop(0))

In [53]:
l1

[124, 128, 132, 136, 140, 144, 148, 104, 108, 112, 116, 120]

32. Rotate a list to the right by `n` positions.

In [54]:
for i in range(5):
    l1.insert(0,l1.pop())

In [56]:
l1

[104, 108, 112, 116, 120, 124, 128, 132, 136, 140, 144, 148]

33. Create a list of prime numbers up to 50.

In [61]:
50**1//2

25

In [74]:
n=7
for i in range(2,7):
    if n%i==0:
        break
    else :
        print(True)

True
True
True
True
True

In [72]:
for i in range(2,50):
    for j in range(2,(i**1//2)+1):
        # print(i,j)
        if i%j==0:
            # print(i)
            pass
        else :
            print(i)
            break

5
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

34. Split a list into chunks of size `n`.

In [33]:
def split_in_chunks(arr:list,n:int):
    if len(arr)%n!=0:
    # if isinstance(len(arr)n,float):
        return "Equal split not possible"
    for i in range(0,len(arr),n):
        print(arr[i:i+n])

split_in_chunks([1,2,3,4,5,6],2)

[1, 2]
[3, 4]
[5, 6]

35. Find the second largest number in a list.

In [37]:
l=[1,9,8,2,4,5,6]
l.sort()
l[-2]

8

36. Replace every element in a list with its square.

In [38]:
[x**2 for x in l]

[1, 4, 16, 25, 36, 64, 81]

37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [39]:
{ i:v for i,v in enumerate(l)}

{0: 1, 1: 2, 2: 4, 3: 5, 4: 6, 5: 8, 6: 9}

38. Shuffle the elements of a list randomly.

In [41]:
import random
random.shuffle(l)
l

[9, 2, 1, 8, 6, 4, 5]

39. Create a list of the first 10 factorial numbers.

In [76]:
def factorial(n):
    if n==1:
        return 1
    else :
        fac=factorial(n-1)
        return fac*n

In [80]:
factorial(5)

120

40. Check if two lists have at least one element in common.

In [44]:
l2=[1,2,3,5]
any([True for x in l if x in l2])

True

41. Remove all elements from a list.

In [75]:
l1.clear()

42. Replace negative numbers in a list with 0.

In [46]:
[0 if x<=0 else x  for x in l]

[9, 2, 1, 8, 6, 4, 5]

43. Convert a string into a list of words.

In [52]:
"hi how are you".split()

['hi', 'how', 'are', 'you']

44. Convert a list of words into a string.

In [53]:
" ".join("hi how are you".split())

'hi how are you'

45. Create a list of the first `n` powers of 2.

In [54]:
n=10
[x**2 for x in range(0,n+1)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

46. Find the longest string in a list of strings.

In [57]:
sl="hi how aree you".split()
max(sl,key=len)

'aree'

47. Find the shortest string in a list of strings.

In [58]:
min(sl,key=len)

'hi'

48. Create a list of the first `n` triangular numbers.

In [59]:
def generate_triangular_numbers(n):
    return [(i * (i + 1)) // 2 for i in range(1, n + 1)]
generate_triangular_numbers(10)

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

49. Check if a list contains another list as a subsequence.

In [62]:
for i in l :
    if isinstance(i,list):
        print(True)
    else :
        print(False)

False
False
False
False
False
False
False

50. Swap two elements in a list by their indices.

In [84]:
if ("X" in "XUY"):
    print("yes")

yes

### Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [65]:
t=tuple(range(1,6))
t

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [66]:
t[2]

3

3. Find the length of a tuple without using the `len()` function.

In [67]:
l=0
for i in t:
    l+=1
l

5

4. Count the occurrences of an element in a tuple.

In [68]:
x=1
count=0
for i in t:
    if x==i:
        count+=1
count

1

5. Find the index of the first occurrence of an element in a tuple.

In [70]:
t.index(3)

2

6. Check if an element exists in a tuple.

In [71]:
3 in t

True

7. Convert a tuple to a list.

In [72]:
list(t)

[1, 2, 3, 4, 5]

8. Convert a list to a tuple.

In [77]:
tuple(l2)

(1, 2, 3, 5)

9. Unpack the elements of a tuple into variables.

In [78]:
a,b,c,d=tuple(l2)
print(a,b,c,d)

1 2 3 5

10. Create a tuple of even numbers from 1 to 10.

In [82]:
tuple([x for x in range(1,11) if x%2==0])

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [83]:
tuple([x for x in range(1,11) if x%2!=0])

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [90]:
t2=3,4,5,5
t2+t

(3, 4, 5, 5, 1, 2, 3, 4, 5)

13. Repeat a tuple three times.

In [91]:
t*3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

14. Check if a tuple is empty.

In [94]:
len(t)==0

False

15. Create a nested tuple.

In [95]:
nt=((1,2,3),(4,5,6))

16. Access the first element of a nested tuple.

In [96]:
nt[0]

(1, 2, 3)

17. Create a tuple with a single element.

In [98]:
ot=1,
ot

(1,)

18. Compare two tuples.

In [100]:
t==t2

False

19. Delete a tuple.

In [101]:
del t

20. Slice a tuple.

In [103]:
t2[1:3]

(4, 5)

21. Find the maximum value in a tuple.

In [104]:
max(t2)

5

22. Find the minimum value in a tuple.

In [105]:
min(t2)

3

23. Convert a string to a tuple of characters.

In [106]:
tuple("Ab df ds")

('A', 'b', ' ', 'd', 'f', ' ', 'd', 's')

24. Convert a tuple of characters to a string.

In [107]:
"".join(tuple("Ab df ds"))

'Ab df ds'

25. Create a tuple from multiple data types.

In [108]:
mt=("Adf",1232,1+2j,1.3)

26. Check if two tuples are identical.

In [109]:
mt==t2

False

27. Sort the elements of a tuple.

In [111]:
sorted(t2)

[3, 4, 5, 5]

28. Convert a tuple of integers to a tuple of strings.

In [113]:
tuple([str(x) for x in t2])

('3', '4', '5', '5')

29. Convert a tuple of strings to a tuple of integers.

In [114]:
tuple([int(x) for x in tuple([str(x) for x in t2])])

(3, 4, 5, 5)

30. Merge two tuples.

In [115]:
t2+mt

(3, 4, 5, 5, 'Adf', 1232, (1+2j), 1.3)

31. Flatten a nested tuple.

In [16]:
def flatten(x):
    if not isinstance(x,tuple):
        return [x]
    flatten_list=[]
    for i in range(len(x)):
        flat=flatten(x[i])
        flatten_list.extend(flat)
        # break
    return flatten_list
flatten((12,(2,3,4),4,(1,2,(3,4,5))))

[12, 2, 3, 4, 4, 1, 2, 3, 4, 5]

32. Create a tuple of the first 5 prime numbers.

In [47]:
x=5
prime=[]
for n in range(2,x*100):
    if n==2:
        prime.append(2)
        continue
    for i in range(2,n):
        if n%i==0:
            break
    else :
        prime.append(n)
    if len(prime)==5:
        break
prime

[2, 3, 5, 7, 11]

33. Check if a tuple is a palindrome.

In [57]:
a=(1,2,2,1)
s=0
e=len(a)-1
while (s<e):
    if a[s]!=a[e]:
        print(False)
        break
    s+=1
    e-=1
else :
    print(True)

True

34. Create a tuple of squares of numbers from 1 to 5.

In [59]:
tuple(x**2 for x in range(1,6))

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [60]:
[i for i in tuple(x**2 for x in range(1,6)) if i%2==0]

[4, 16]

36. Multiply all elements in a tuple by 2.

In [61]:
tuple(x*2 for x in range(1,6))

(2, 4, 6, 8, 10)

37. Create a tuple of random numbers.

In [70]:
from random import randint

x=tuple(randint(1,10) for x in range(10))
x

(6, 1, 10, 6, 8, 4, 3, 8, 9, 9)

38. Check if a tuple is sorted.

In [95]:
x=[1,2,3,4,5]
flag=True
for i in range(len(x)):
    for j in range(i+1,len(x)):
        if x[i]>x[j]:
            flag=False
            break
    if flag==False:
        print("Not sorted")
        break
else :
    print("sorted")

sorted

39. Rotate a tuple to the left by `n` positions.

In [113]:
x
n=1
new=[]
for i in range(n,len(x)):
    new.append(x[i])
else :
    new.extend(x[0:n])
new
    # new.append(x[i]

[2, 3, 4, 5, 1]

40. Rotate a tuple to the right by `n` positions.

In [112]:
x

[1, 2, 3, 4, 5]

In [111]:
x
n=1
new=[]
for i in range(n,len(x)):

[5, 4, 3, 2, 1]

41. Create a tuple of the first 5 Fibonacci numbers.

In [31]:
x=(1,1,2,3,5)
x

(1, 1, 2, 3, 5)

42. Create a tuple from user input.

In [21]:
x=input(("enter the number"))
b=tuple(x)
print(b)

enter the number 2

('2',)

43. Swap two elements in a tuple.

In [30]:
x=(4,2)
ls=list(x)
ls[0], ls[1]= ls[1], ls[0]
tuple(ls)

(2, 4)

44. Reverse the elements of a tuple.

In [10]:
x=(1,2,3,4)
new = x[::-1]
print(new)

(4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [38]:
n=5
tuple(2**i for i in range(1,n+1))

(2, 4, 8, 16, 32)

46. Find the longest string in a tuple of strings.

In [53]:
x=("mohit","ram","shanu","janacu","janaki")
# lamba=x[0]
# for i in x[1:]:
#     if len(lamba)<len(i):
#         lamba=i
# print(lamba)
max(x,key=len)

'janacu'

47. Find the shortest string in a tuple of strings.

In [54]:
x=("mohit","ram","shanu","janacu","janaki")
min(x,key=len)

'ram'


48. Create a tuple of the first `n` triangular numbers.

In [63]:
n=10
inc=2
prev=1
for i in range(n):
    print(prev)
    prev=prev+inc
    inc+=1

1
3
6
10
15
21
28
36
45
55

49. Check if a tuple contains another tuple as a subsequence.

In [76]:
X=("NITIN",("NSH",),"HLO")
for i in X:
    if isinstance(i,tuple):
        print(i)

('NSH',)

50. Create a tuple of alternating 1s and 0s of length `n`.

In [3]:
tuple(0 if x%2==0 else 1 for x in range(10))

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

### Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [29]:
s={x for x in range(1,6)}
s

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [16]:
s.add(10)
s

{1, 2, 3, 4, 5, 10}

3. Remove an element from a set.

In [17]:
s.remove(10)
s

{1, 2, 3, 4, 5}

4. Check if an element exists in a set.

In [20]:
s.issuperset({1})

True

5. Find the length of a set without using the `len()` function.

In [23]:
l=0
for i in s:
    l+=1
l

5

6. Clear all elements from a set.

In [24]:
s.clear()
s

set()

7. Create a set of even numbers from 1 to 10.

In [25]:
{x for x in range(1,11) if x%2==0}

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [27]:
b={x for x in range(1,11) if x%2!=0}
b

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [30]:
s.union(b)

{1, 2, 3, 4, 5, 7, 9}

10. Find the intersection of two sets.

In [31]:
s.intersection(b)

{1, 3, 5}

11. Find the difference between two sets.

In [32]:
s.difference(b)

{2, 4}

12. Check if a set is a subset of another set.

In [38]:
s.issubset({1,2,3,4,5,6})

True

13. Check if a set is a superset of another set.

In [39]:
s.issuperset({1,2,3})

True

14. Create a set from a list.

In [41]:
set([1,2,33])

{1, 2, 33}

15. Convert a set to a list.

In [42]:
list({1,2,3,4})

[1, 2, 3, 4]

17. Pop an element from a set.

In [45]:
s.pop()

1

18. Check if two sets have no elements in common.

In [15]:
s={1,2,3}
b={5,6,6,3}
if not s.intersection(b):
    print("No common")

19. Find the symmetric difference between two sets.

In [54]:
s.symmetric_difference(b)

{1, 2, 5, 6}

20. Update a set with elements from another set.

In [56]:
s.update(b)

In [57]:
s

{1, 2, 3, 5, 6}

21. Create a set of the first 5 prime numbers.

In [62]:
n=10
prime=[True]*(n+1)
for i in range(2,n+1):
    if prime[i]==True:
        for j in range(i*i,n+1,i):
            prime[j]=False
for i,v in enumerate(prime):
    if v and i>1:
        print(i)

2
3
5
7

22. Check if two sets are identical.

In [66]:
s==b

False

23. Create a frozen set.

In [67]:
frozenset({1,3,4,5})

frozenset({1, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [71]:
s.isdisjoint(b) # no common element in both sets

{3, 5, 6}

25. Create a set of squares of numbers from 1 to 5.

In [72]:
{x**2 for x in range(1,6)}

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [74]:
{y for y in {x**2 for x in range(1,6)} if y%2==0}

{4, 16}

27. Multiply all elements in a set by 2.

In [2]:
{x*2 for x in range(10)}

{0, 2, 4, 6, 8, 10, 12, 14, 16, 18}

28. Create a set of random numbers.

In [8]:
from random import randint
{randint(0,100) for x in range(10)}

{1, 18, 27, 30, 46, 47, 48, 53, 78, 96}

29. Check if a set is empty.

In [12]:
if not {}:
    print("empty")

empty

30. Create a nested set (hint: use frozenset).

In [26]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
nested_set = {frozenset(set1), frozenset(set2)}
nested_set

{frozenset({1, 2, 3}), frozenset({4, 5, 6})}

31. Remove an element from a set using the discard method.

In [27]:
set1.discard(1)
set1

{2, 3}

32. Compare two sets.

In [28]:
set1==set2

False

33. Create a set from a string.

In [29]:
{chr(x) for x in range(65,75)}

{'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'}

34. Convert a set of strings to a set of integers.

In [31]:
x={'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'}
z={ord(y) for y in x}
z

{65, 66, 67, 68, 69, 70, 71, 72, 73, 74}

35. Convert a set of integers to a set of strings.

In [32]:
{str(a) for a in z}

{'65', '66', '67', '68', '69', '70', '71', '72', '73', '74'}

36. Create a set from a tuple.

In [33]:
set((1,2,3,45,5))

{1, 2, 3, 5, 45}

37. Convert a set to a tuple.

In [34]:
tuple({1,3,4,5})

(1, 3, 4, 5)

38. Find the maximum value in a set.

In [35]:
max({1,2,3,4})

4

39. Find the minimum value in a set.

In [36]:
min({1,3,4,5})

1

40. Create a set from user input.

In [37]:
a=input("enter by spliting ,")
set(a.split(","))

enter by spliting , 1,2,3,4,5

{'1', '2', '3', '4', '5'}

41. Check if the intersection of two sets is empty.

In [50]:
set1.intersection(set2)

set()

42. Create a set of the first 5 Fibonacci numbers.

In [47]:
def fibonacci (n):
    if n<=1:
        return 1
    else :
        return fibonacci(n-2)+fibonacci(n-1)
for i in range(10):
    print(fibonacci(i))

1
1
2
3
5
8
13
21
34
55

43. Remove duplicates from a list using sets.

In [ ]:
# set does not contain duplicates

44. Check if two sets have the same elements, regardless of their count.

In [48]:
# set does no contain duplicates
set1.intersection(set2)

set()

45. Create a set of the first `n` powers of 2.

In [51]:
{2**x for x in range(10)}

{1, 2, 4, 8, 16, 32, 64, 128, 256, 512}

46. Find the common elements between a set and a list.

In [53]:
set1
l=[1,2,3,4]
set1.intersection(l)

{2, 3}

47. Create a set of the first `n` triangular numbers.

In [71]:
def pascal_traiangle(n):
    list_1=[]
    for i in range(n):
        temp=[]
        for j in range(i+1):
            if j==0 or j==i:
                temp.append(1)
            else :
                temp.append(list_1[i-1][j-1]+list_1[i-1][j])
        list_1.append(temp)
    return list_1       
pascal_traiangle(10)

[[1],
 [1, 1],
 [1, 2, 1],
 [1, 3, 3, 1],
 [1, 4, 6, 4, 1],
 [1, 5, 10, 10, 5, 1],
 [1, 6, 15, 20, 15, 6, 1],
 [1, 7, 21, 35, 35, 21, 7, 1],
 [1, 8, 28, 56, 70, 56, 28, 8, 1],
 [1, 9, 36, 84, 126, 126, 84, 36, 9, 1]]

48. Check if a set contains another set as a subset.

In [54]:
set1.issubset(set2)

False

49. Create a set of alternating 1s and 0s of length `n`.

In [67]:
{1 if k%2==0 else 0 for k in range(1,10) }
#cant have duplicates

{0, 1}

50. Merge multiple sets into one.

In [69]:
set1.update(set2)

In [70]:
set1

{2, 3, 4, 5, 6}